<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="/css/organizations.css">
    <!-- NOTE: This sheet is needed for sidebar -->
    <link rel="stylesheet" href="/css/group.css">
    <script src="/js/organizations.js" charset="utf-8" defer></script>
    <title>Litzen | Organizations</title>
  </head>
  <body>
    <%- include('../common/nav.ejs') %>
    <%- include('../common/flash.ejs') %>
    <div class="wrapper">
      <div class="sidebar-1">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <div class="groups">
            <h3>Groups</h3>
            <% Object.values(userOrganizations).forEach(org=> { %>
              <ul class="organization">
                <% org.groups.forEach(group=> { %>
                  <li class="group">
                    <a class="group__link" href="/groups/<%= group.id %>">
                      <%= group.toString(); %>
                    </a>
                  </li>
                  <% }); %>
              </ul>
              <% }); %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <div class="split-heading">
            <h2>Organizations</h2>
            <% if (true) { // TODO: We need some logic to protect this from everybody %>
              <a href="/organizations/new">Add New Organization</a>
            <% } %>
          </div>
          <% organizations.forEach(org => { %>
            <div class="organization-card">
              <div class="split-heading">
                <span class="organization-card__name">
                  <%= org.toString(); %>
                </span>
                <% if (userOrganizations[org.id]) { %>
                  <a href="/organizations/<%= org.id %>/leave">Leave Organization</a>
                <% } else {%>
                  <a href="/organizations/<%= org.id %>/join">Join Organization</a>
                <% } %>

              </div>
              <p class="organization-description"><%= org.description %></p>
              <% if (org.admin === currentUser.id) { %>
                <div class="admin-panel mt-3">
                  <p>Admin:</p>
                  <div class="admin-panel__controls">
                    <a href="/organizations/<%= org.id %>/edit">Edit Organization</a>
                    <a href="#" data-id="<%= org.id %>" class="admin-panel__delete">Delete Organization</a>
                    <a href="/organizations/<%= org.id %>/groups/new">Add New Group</a>
                  </div>
                </div>
              <% } %>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="sidebar-2">
        <div class="sticky-spacer"></div>
        <div class="sticky-content"></div>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
