<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="/css/group.css">
    <title>Litzen</title>
  </head>

  <body>
    <%- include('../common/nav.ejs') %>
    <%- include('../common/flash.ejs') %>
    <div class="wrapper">
      <div class="sidebar-1">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <div class="groups">
            <h3>Groups</h3>
            <% Object.values(userOrganizations).forEach(org=> { %>
              <ul class="organization">
                <% org.groups.forEach(group=> { %>
                  <li class="group">
                    <a class="group__link" href="/groups/<%= group.id %>">
                      <%= group.toString(); %>
                    </a>
                  </li>
                  <% }); %>
              </ul>
              <% }); %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <div class="split-heading">
            <h1>Group Admins</h1>
          </div>
        </div>
      </div>
      <div class="sidebar-2">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
        </div>
      </div>
      <footer></footer>
    </div>
  </body>

</html>
