<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="/css/group.css">
    <link rel="stylesheet" href="/css/group-form.css">
    <title>Litzen | New Group</title>
  </head>

  <body>
    <%- include('../common/nav.ejs') %>
    <%- include('../common/flash.ejs') %>
    <div class="form-container">
        <h1 class="add-group-title">
          <%= group.isNew ? 'Add Group' : group.toString() %>
        </h1>
        <form method="POST" action="<%= determineGroupFormPath(group, organization) %>" class="group-create-form">
            <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
            <input type="hidden" name="private" value="false">
            <input name="name" type="text" class="form-control" placeholder="Group Name" value="<%= group.name  %>" required>
            <textarea name="description" rows="10" placeholder="Group Description" class="form-control"><%= group.description  %></textarea>
            <% if (!organization) { %>
              <div class="add-group-div">
                <select name="organizationId">
                  <% organizations.forEach(organization => { %>
                    <option value="<%= organization.id %>"> <%= organization.toString() %> </option>
                  <% }) %>
                </select>
              </div>
            <% } %>
            <!-- <div class="add-group-div">
                <label>Private Group</label>
                <input type="radio" name="private" value="false" <%= group.private ? '' : 'checked' %>><span>No</span>
                <input type="radio" name="private" value="true" <%= group.private ? 'checked' : '' %>><span>Yes</span>

            </div> -->
            <input type="submit" class="btn-hollow group-bnt" value="<%= group.isNew ? 'Add Group' : 'Update Group' %>">

        </form>
    </div>

  </body>

</html>
