<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="/css/group.css">
    <title>Litzen</title>
  
  </head>

  <body>
    <%- include('../common/nav.ejs') %>
    <%- include('../common/flash.ejs') %>
    <div class="form-container">
        <h1>
            Add Group
        </h1>
        <form method="POST" action="/groups">
            <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
            <input name="name" type="text" class="form-control" placeholder="Group Name">
            <textarea name="description" rows="10" placeholder="Group Description"></textarea>
            <div>
                <select name="organizationId">
                    <% organizations.forEach(organization => { %> 
                     <option value="<%= organization.id %>"> <%= organization.toString() %> </option>
                    <% }) %>  
                </select>
            </div>
            <div>
                <label>Private Group</label>
                <input type="radio" name="private" value="false" checked>
                <input type="radio" name="private" value="true">

            </div>
            <input type="submit" class="btn-hollow" value="Add Group">

        </form>
    </div>
    
  </body>

</html>
