<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <%- include('../common/header.ejs') %>
    <script src="https://kit.fontawesome.com/63dd410bee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>Litzen</title>
</head>

<body>
  <%- include('../common/nav.ejs') %>
    <div class="wrapper">
      <div class="sidebar-1">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <div class="groups">
            <h3>Groups</h3>
            <% Object.values(userOrganizations).forEach(org=> { %>
              <ul>
                <% org.groups.forEach(group=> { %>
                  <li class="group <%= selectedGroup && (selectedGroup.id === group.id) ? 'active' : ''%>">
                    <a class="group__link" href="/groups/<%= group.id %>">
                      <%= group.toString(); %>
                    </a>
                  </li>
                  <% }); %>
              </ul>
              <% }); %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <h1>
            <%= selectedGroup ? selectedGroup.toString() : 'My Feed' %>
          </h1>
          <% if (canUserMessageGroup(selectedGroup, currentUser)) {%>
            <a href="/groups/<%=selectedGroup.id%>/messages/new">Add New Message</a>
            <% } %>
              <% if (!messages.length) {%>
                <div class="empty-message">
                  No Message Here
                </div>
                <% } %>
                  <% messages.forEach(message=> { %>
                    <div class="card">
                      <div class="cardTitle">
                        <div>
                          <span class="icon"><i class="fas fa-user-circle fa-3x"></i></span>
                          <div id="userInfo">
                            <h2><span>
                              <%= message.poster.toString(); %>
                            </span></h2>
                            <p><span>A cool person</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="cardMessage">
                        <%= message.body; %>
                      </div>
                    </div>
                    <% }); %>
        </div>
      </div>
      <div class="sidebar-2">
          <div class="sticky-spacer"></div>
          <div class="sticky-content">
              <div class="cardS">
                  <h2>Events</h2>
                  <div id="event">
                      <h5>October 4th, 2021</h5>
                      <p>Some activity here. This is retrieved from some calendar in the DB.</p>
                  </div>
                  <div id="event">
                      <h5>November 3rd, 2021</h5>
                      <p>This is a different activity. Members might choose to see ward-wide activities or only those
                          from
                          their organization.</p>
                  </div>
              </div>
              <div class="cardS">
                  <h2>Quote of the Day</h2>
                  <div id="quote">
                      <p>“Nobody exists on purpose. Nobody belongs anywhere. Everybody's gonna die.
                          Come watch TV”</p>
                      <h5>Marty Smith</h5>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer"></div>
    </div>
</body>

</html>