<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./header.ejs') %>
    <title>Team02 | View Message</title>
  </head>
  <body>
    <%- include('./nav.ejs') %>
    <%- include('./toaster.ejs') %>
    <%- include('./flash.ejs') %>
    <div class="">
      <div class="">
        <div class="">
          <h2 class="">Message</h2>
          <div class="">
              <!--Add poster image here. Need to figure out where that will pull in from.-->
              <h3><%= poster %></h3>
              <h4>Title? I'm not sure what this line in the wireframes is for.</h4>
              <p>This is where the body of the post will go. I think it'll be important to make sure we style this differently than the form for submitting a new post, because currently that's what it looks like the purpose of the page is on the wireframe.</p>
              <form>
                  <input type="text" placeholder="Leave a comment...">
                  <button type="submit">Comment</button>
              </form>
          </div>
          
        </div>
        
      </div>
    </div>
  </body>
</html>