<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <%- include('../common/header.ejs') %>
        <link rel="stylesheet" href="/css/groupMessage.css">
        <title>Litzen | New Message</title>
</head>

<body>
    <%- include('../common/nav.ejs') %>
    <%- include('../common/flash.ejs') %>
        <div class="wrapper">
            <div class="sidebar-1">
                <div class="sticky-spacer"></div>
                <div class="sticky-content">

                </div>
            </div>
            <div class="content">
                <div class="sticky-spacer"></div>
                <div class="sticky-content">
                    <form class="form-control" method="post" action="/groups/<%= group.id %>/messages"> 
                        <label class="GMClabel"><%= group.name %></label>
                        <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
                        <textarea id="textAreaGMC " name="body"  rows="6" placeholder="What do you want to say to the group?" required></textarea>
                        <input class="btn-hollow" type="submit" value="Publish"> 
                        <a class="btn-hollow" href="/">Cancel</a>
                    </form>
                </div>
            </div>
            <div class="sidebar-2 ">
                <div class="sticky-spacer "></div>
                <div class="sticky-content ">

                </div>
            </div>
            <footer></footer>
        </div>
</body>

</html>