<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/group.css">
    <%- include('../common/header.ejs') %>
    
    <title>Team02 | View Message</title>
  </head>
  <body>
    <%- include('../common/nav.ejs') %>
    <div class="wrapper">
      <div class="sidebar-1">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <div class="groups">
              <h3>Groups</h3>
              <% Object.values(userOrganizations).forEach(org => { %>
                <div class="organization">
                  <% org.groups.forEach(group => { %>
                    <div class="group <%= selectedGroup && (selectedGroup.id === group.id) ? 'active' : ''%>">
                      <a class="group__link" href="/groups/<%= group.id %>">
                        <%= group.toString(); %>
                      </a>
                    </div>
                  <% }); %>
                </div>
              <% }); %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="sticky-spacer"></div>
        <div class="sticky-content">
          <div class="card">
            <div class="cardTitle">
              <div>
                <span class="icon"><i class="fas fa-user-circle fa-3x" aria-hidden="true"></i></span>
                <div id="userInfo">
                  <h2><span><%= poster.firstName %></span></h2>
                  <p><span>A cool person</span></p>
                </div>
              </div>
            </div>
            <div class="cardMessage">
              <%= message.body; %>
            </div>
            <!-- <form>
              <input type="text" placeholder="Leave a comment...">
              <button type="submit">Comment</button>
            </form> -->
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>